* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    background-color: #aaabad;
}

span {
    font-family: Arial;
}

hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: none !important;
    background-color: #40454b;
    color: red; 
    height: 2px !important;
    width: 80%;
}

label {
    font-weight: 0 !important;
}

li {
    width: 70px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;

}

.circle {
    position: fixed;
    left: 167.5px;
    top: 90%; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #2287dc
}

.selected {
    border-bottom: 3px solid #3189d4;
}



#btn-month, #btn-week {
    color: #fff;
}

#btn-week:hover, #btn-month:hover {
    color: rgba(31, 8, 8, 0.76);
    transition: 0.15s;
    cursor: pointer;
}

.navbar {
    background-color: #40454b;
    margin-left: -0.2% !important;
    margin-right: -0.2% !important;
    margin-bottom: 0% !important;
    padding: 0px !important;
}

.week {
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #4d5358;
    border-radius: 2px;
    margin: 2px;
    transition: 0.2s;
}

.time {
    margin-left: 20px;
    padding: 0px;
    font-size: 40px;
    color: #53afff;
    text-shadow: 0px 0px 0px rgba(17, 34, 51, 0.192);
}

.row.align-items-center {
    background-color: #60676d;
}

.nav-item {
    color: rgba(255, 255, 255, 0.76);
}

.checkdays {

    margin-bottom: 5px;
}
#checkloop {
    transform:scale(1.3);
    opacity:0.9;
}

#delete {
    color: #ff5151;
    font-size: 20px;
    margin-top: 5px; 
    margin-bottom: 10px; 
}

#check, #description {
    color: #e0e0e0;
    font-size: 20px;
    margin: 4px
}

#worklabel, #weekendlabel {
    color: #e0e0e0;
}

#mnth {
    margin-top: 5px;
    margin-bottom: 10px;
}